@import url("../fonts/font-styles.css");
body {
  font-family: "Courier New", "Lucida Console", monospace;
  color: #1f1a21;
  padding: 0; }

html, body, .ub-container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: relative; }

h1, h2, h3, h4 {
  font-family: "dk_kwarkregular", Arial, sans-serif; }

h1 {
  font-size: 56px;
  margin-top: 0; }

p {
  font-weight: bold; }

.ub-mobile-deets {
  font-size: 1.5em; }

.ub-mobile {
  position: absolute;
  top: 0;
  left: -9999px; }

.ub-desc {
  font-family: "Courier New", "Lucida Console", monospace;
  font-size: 16px;
  line-height: 20px;
  color: white;
  font-weight: bold;
  padding-top: 0 !important; }

.ub-bg-image {
  background-color: #1f1a21;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -9999;
  height: 100%;
  width: 100%; }
  .ub-bg-image img {
    display: block;
    height: auto;
    width: 100%; }

.ub-content {
  background-color: rgba(255, 255, 255, 0.7); }

.ub-section {
  min-height: 1000px; }

.ub-column {
  padding: 0 30px; }

.ub-sidebar-container {
  display: block; }
  .ub-sidebar-container .container {
    margin: 0 auto; }

.ub-sidebar {
  display: table-row;
  position: fixed;
  left: 0;
  height: 100%;
  padding: 22.5px;
  width: inherit;
  background-color: #1f1a21;
  text-align: center;
  color: white; }

.ub-section, .ub-sidebar {
  padding-top: 60px; }

.ub-sidebar-header {
  float: left;
  width: 30%;
  vertical-align: top;
  text-align: center; }

.ub-sidebar-collapse {
  text-align: left;
  float: right;
  width: 70%;
  vertical-align: top; }

ul.ub-nav {
  padding-left: 0;
  margin-left: 0;
  list-style: none; }

.ub-nav {
  margin: 0;
  font-family: "dk_kwarkregular", Arial, sans-serif; }
  .ub-nav li {
    font-size: 32px;
    line-height: 32px;
    clear: both;
    width: 100%; }
    .ub-nav li a {
      display: block;
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none; }
      .ub-nav li a:active {
        color: white; }
      .ub-nav li a:focus, .ub-nav li a:hover {
        background-color: #1f1a21 !important;
        color: white; }
    .ub-nav li hr {
      width: 90%;
      color: rgba(255, 255, 255, 0.7);
      border-top: 1px solid rgba(255, 255, 255, 0.7);
      background-color: white;
      float: left; }
  .ub-nav li:first-child a {
    padding-top: 0; }

.ub-nav-inverse li {
  font-size: 40px;
  line-height: 40px;
  clear: both;
  width: 100%; }
  .ub-nav-inverse li a {
    display: block;
    color: rgba(31, 26, 33, 0.7);
    text-decoration: none; }
    .ub-nav-inverse li a:active {
      color: #1f1a21; }
    .ub-nav-inverse li a:focus, .ub-nav-inverse li a:hover {
      background-color: transparent !important;
      color: #1f1a21; }
  .ub-nav-inverse li hr {
    width: 90%;
    color: rgba(31, 26, 33, 0.7);
    border-top: 1px solid rgba(31, 26, 33, 0.7);
    background-color: #1f1a21;
    float: left; }

.ub-logo {
  display: block; }

.ub-reveal {
  background-color: rgba(255, 255, 255, 0.5); }

.ub-deets {
  display: block;
  clear: both;
  margin: 0 auto;
  margin-bottom: 15px;
  padding-top: 60px; }
  .ub-deets hr {
    margin: 15px 0; }

.ub-deets-container {
  float: left;
  text-align: left; }

.ub-days {
  font-size: 2em;
  font-weight: bold;
  line-height: 100%; }

.ub-hours {
  font-family: "dk_kwarkregular", Arial, sans-serif;
  font-size: 3.6em;
  line-height: 100%; }

.ub-address {
  font-family: "kg_one_more_nightregular", Arial, sans-serif;
  font-size: 2.5em;
  line-height: 100%; }

.ub-address-st {
  font-size: 1.4em; }

.ub-social {
  margin-top: 15px; }

.row {
  margin: 0; }

.container {
  display: table-row;
  width: 100%; }

.navbar {
  background-color: #1f1a21;
  background-image: none;
  border-radius: 0px; }

.navbar-toggle {
  margin: 0;
  margin-bottom: 15px;
  float: none;
  border-color: rgba(255, 255, 255, 0.4); }
  .navbar-toggle .icon-bar {
    background-color: white; }

ul.ub-fit-list, ol.ub-fit-list {
  width: 100%;
  padding: 0;
  display: table; }
  ul.ub-fit-list li, ol.ub-fit-list li {
    display: table-cell;
    text-align: center; }
    ul.ub-fit-list li:first-child, ol.ub-fit-list li:first-child {
      text-align: left; }
    ul.ub-fit-list li:last-child, ol.ub-fit-list li:last-child {
      text-align: right; }

.clear, .hidden-xs {
  clear: both; }

@media (max-width: 768px) {
  .ub-sidebar-header {
    width: 100%; }

  .ub-expanded {
    width: 30%; }

  .ub-logo {
    margin: 0 auto; } }
