<div class="ub-deets">
    <div class="ub-deets-container">
    <div class="ub-days">open daily</div>
    <div class="ub-hours">10A - 10P</div>
    <hr/>
    <div class="ub-address">
        <span class="ub-address-st">C-14, Avenue K</span>
        <br/>
        50450 Kuala Lumpur
    </div>

    <div class="ub-social">
        <ul class="ub-fit-list">
            <li>
                <a target="_blank" href="http://facebook.com/urbeankl">
                    <img src="img/social/ub-social-03.png"/>
                </a>
            </li>
            <li>
                <a target="_blank" href="#">
                    <img src="img/social/ub-social-01.png"/>
                </a>
            </li>
            <li>
                <a target="_blank" href="http://twitter.com/UrbeanKL">
                    <img src="img/social/ub-social-02.png"/>
                </a>
            </li>
        </ul>
    </div>
</div>
    <div class="clear"></div>
</div>