@import 'constants'
@import 'bs-override'

//Basics
body
    font-family: $body-fonts
    color: $secondary-color
    padding: 0

html, body, .ub-container
    width: 100%
    height: 100%
    max-width: 100%
    position: relative

h1, h2, h3, h4
    font-family: $heading-fonts

h1 
    font-size: 56px
    margin-top: 0

p 
    font-weight: bold


.ub-content a 
    text-decoration: underline
    color: $tertiary-color
    background-color: rgba($primary-color, 1)
    &:hover, &:focus 
        color: $primary-color
        background-color: rgba($primary-color, 0)
.ub-bg-image
    background-image: url('../img/bg.png')
    background-color: $secondary-color
    background-position: center
    position: fixed
    top: 0
    right: 0
    z-index: -9999
    height: 100%
    width: 100%
    overflow: hidden
    img 
        display: none
        max-width: auto
        max-height: 100%

.ub-content
    @include frosty-bg

.ub-section
    min-height: 1000px

.ub-column
    padding: 0 $space * 2

// Sidebar stuff
.ub-section, .ub-sidebar
    padding-top: $space * 4

.ub-sidebar-container
    position: relative
    z-index: 10
    height: 100%
    padding: 0

.ub-sidebar
    min-width: 60px !important
    position: fixed
    left: 0
    height: 100%
    width: inherit
    background-color: $secondary-color
    color: $secondary-text-color

.ub-sidebar-wrapper
    width: 90%
    margin: 0 auto
    padding-left: $space * 1.5


.ub-sidebar-header
    // display: table-cell
    float: left
    width: 30%
    vertical-align: top
    text-align: center

.ub-sidebar-collapse
    text-align: left
    float: right
    width: 70%
    vertical-align: top

.ub-sidebar-deets
    padding-top: $space * 4
// Nav stuff
ul.ub-nav
    padding-left: 0
    margin-left: 0
    list-style: none

.ub-nav, .navbar-nav
    @include nav-style($secondary-text-color, $secondary-color, 32px)
    margin: 0
    font-family: $heading-fonts
    li:first-child a
        padding-top: 0

    .ub-desc
        font-family: $body-fonts
        font-size: 16px
        line-height: 18px
        color: $secondary-text-color
        font-weight: bold
        padding-top: 0 !important

.ub-nav-inverse
    @include nav-style($secondary-color, transparent, 40px)

.ub-logo 
    display: block
    clear: both

.ub-reveal
    background-color: rgba($tertiary-color, 0.5)

// Hours
.ub-deets
    display: block
    clear: both
    margin: 0 auto
    margin-bottom: $space
    hr 
        margin: $space 0
    
.ub-deets-container
    float: left
    text-align: left

.ub-days
    font-size: 2em
    font-weight: bold
    line-height: 100%
.ub-hours 
    font-family: $heading-fonts
    font-size: 3.6em
    line-height: 100%
.ub-address
    font-family: $tertiary-fonts
    font-size: 2.5em
    line-height: 100%
.ub-address-st
    font-size: 1.4em

// Social
.ub-social
    margin: 0 auto
    margin-top: $space 
    li
        padding: $space


// // Mobile classes
// .ub-hidden-mobile
//     display: none !important

.ub-mobile-deets
    // background-color: rgba($secondary-color, 0)
    font-size: 1.5em
    hr 
        border-top: 1px solid $secondary-color

.ub-mobile-nav
    position: fixed
    z-index: 8
    margin: 0 auto
    padding-top: $space * 4
    height: 100%
    background-color: lighten($secondary-color, 5%)
    .navbar-nav
        ul li a
            font-size: 2em

// General CSS
ul.ub-fit-list, ol.ub-fit-list
    width: 100%
    padding: 0
    display: table 
    li 
        display: table-cell
        text-align: center
        &:first-child
            text-align: left
            padding-left: 0px
        &:last-child
            text-align: right
            padding-right: 0px

.clear, .hidden-xs
    clear: both

.ub-expanded
    width: 100%
    left: 0px
    transition: 0.5s
    -webkit-transition: 0.5s

.ub-hidden-mobile
    width: 0
    left: -1000px
    transition: 2s
    -webkit-transition: 2s


.ub-btn-active
    background-color: rgba($tertiary-color, 0.5)
// Maps
#map-canvas
    // position: absolute
    // z-index: -1
    top: 0
    width: 100%
    min-height: 500px
    height: 100%

// Custom responsive -- may override Bootstrap
$xs-width: 767px
$sm-max-width: 991px
$sm-min-width: 768px

@media (max-width: $sm-min-width)
    .ub-sidebar-header
        width: 100%

    .ub-logo
        margin: 0 auto

    .ub-sidebar 
        background-color: rgba($secondary-color, 0.8)

    .ub-sidebar-wrapper
        padding-left: 0

    .ub-social
        li
            a 
                padding: $space
                background-color: rgba($secondary-color, 0.8)
                border-radius: $space/2
