@import 'constants'
@import 'bs-override'

//Basics
body
    background-color: $secondary-color
    font-family: $body-fonts
    color: $secondary-color
    padding: 0

html, body
    width: 100%
    height: 100%
    max-width: 100%
    position: relative

.ub-container
    width: 100%
    position: relative
    min-height: 100%

h1, h2
    font-family: $heading-fonts
h3, h4
    font-size: 1.2em
    font-family: $body-fonts
    font-weight: bold

h1 
    font-size: $h1-size
    margin-top: 0

p 
    font-weight: bold

hr 
    border-top: 0px solid #000 !important
    background-color: transparent !important
    background-size: auto 50%
    background-repeat: no-repeat
    background-position: left center
    height: 6px
    background-image: url('../img/hr-white.png')


.ub-content a 
    text-decoration: underline
    color: $tertiary-color
    background-color: rgba($primary-color, 1)
    &:hover, &:focus 
        color: $primary-color
        background-color: rgba($primary-color, 0)
.ub-bg-image
    opacity: 0 //hide bg if image not loaded yet
    background-size: 100% auto
    background-image: url('../img/bg.jpg')
    background-color: $secondary-color
    background-position: right center
    background-repeat: no-repeat
    position: fixed
    top: 0
    right: 0
    z-index: -9999
    height: 100%
    width: 100%
    overflow: hidden
    img 
        display: none
        max-width: auto
        max-height: 100%

.ub-content
    margin-top: 1024px
    @include frosty-bg
    min-height: 100%
    position: relative
    z-index: 2

.ub-section
    min-height: $min-section-height
.ub-column
    padding: 0 $space * 2

// Sidebar stuff
.ub-section, .ub-sidebar
    padding-top: $section-sidebar-top-padding

.ub-sidebar-container
    position: relative
    z-index: 10
    height: 100%
    padding: 0

.ub-sidebar
    min-width: 60px !important
    position: fixed
    left: 0
    height: 100%
    width: inherit
    background-color: $secondary-color
    color: $secondary-text-color
    border: 0

.ub-sidebar-wrapper
    width: 90%
    margin: 0 auto
    padding-left: $space * 1.5


.ub-sidebar-header
    // display: table-cell
    float: left
    width: 30%
    vertical-align: top
    text-align: center

.ub-sidebar-collapse
    text-align: left
    float: right
    width: 70%
    vertical-align: top

.ub-sidebar-deets
    padding-top: $space * 4
    a
        color: $tertiary-color
        text-decoration: none
        &:hover, &:focus
            color: $primary-color


// Nav stuff
ul.ub-nav
    padding-left: 0
    margin-left: 0
    list-style: none

.ub-nav, .navbar-nav
    @include nav-style($secondary-text-color, $secondary-color, 32px, $primary-color)
    margin: 0
    font-family: $heading-fonts
    li:first-child a
        padding-top: 0

    .ub-desc
        font-family: $body-fonts
        font-size: 16px
        line-height: 18px
        color: $secondary-text-color
        font-weight: bold
        padding-top: 0 !important

.ub-nav-inverse
    @include nav-style($secondary-color, transparent, 40px, $primary-color)

.ub-logo 
    display: block
    clear: both

.ub-reveal
    background-color: rgba($tertiary-color, 0.5)

// Hours
.ub-deets
    display: block
    clear: both
    margin: 0 auto
    margin-bottom: $space
    hr 
        margin: $space 0
    
.ub-deets-container
    float: left
    text-align: left

.ub-days
    font-size: 2em
    font-weight: bold
    line-height: 100%
.ub-hours 
    font-family: $heading-fonts
    font-size: 3.6em
    line-height: 100%
.ub-address
    font-family: $tertiary-fonts
    font-size: 2.5em
    line-height: 100%
.ub-address-st
    font-size: 1.4em

// Social
.ub-social
    margin: 0 auto
    margin-top: $space 
    li
        padding: $space


// // Mobile classes

.ub-mobile-deets
    // background-color: rgba($secondary-color, 0)
    color: $secondary-color
    font-size: 1.5em
    a 
        color: $secondary-color
        text-decoration: none
        &:hover, &:focus
            color: $primary-color

    hr 
        background-image: url('../img/hr-dark.png')
        border-top: 1px solid $secondary-color

.ub-mobile-nav
    position: fixed
    z-index: 8
    margin: 0 auto
    padding-top: $space * 4
    height: 100%
    background-color: lighten($secondary-color, 5%)
    .navbar-nav
        ul li a
            font-size: 2em

// General CSS
.ub-back-to-top
    display: inline 
    position: fixed
    z-index: 9999
    right: 0
    bottom: 0
    
    padding: $space/3
    background-color: $secondary-color
    color: $secondary-text-color
    
    a
        color: $secondary-text-color

ul.ub-fit-list, ol.ub-fit-list
    width: 100%
    padding: 0
    display: table 
    li 
        display: table-cell
        text-align: center
        &:first-child
            text-align: left
            padding-left: 0px
        &:last-child
            text-align: right
            padding-right: 0px

.clear, .hidden-xs
    clear: both

.ub-expanded
    width: 100%
    left: 0px
    transition: 0.5s
    -webkit-transition: 0.5s

.ub-hidden-mobile
    width: 0
    left: -1000px
    transition: 2s
    -webkit-transition: 2s


.ub-btn-active
    background-color: rgba($primary-color, 1)
    border-color: darken($primary-color, 10%)

// Maps
.ub-infowindow
    // background-color: $primary-color
    min-width: 200px
    h1 
        font-size: 20px
        font-weight: bold
        font-family: $body-fonts

#map-canvas
    position: absolute
    bottom: 0
    width: 100%
    // min-height: $min-section-height //account for padding
    z-index: 1
    display: block


// Misc
.ub-flair
    // background-color: white
    width: auto
    height: $h1-size
    display: inline-block

// Custom responsive -- may override Bootstrap
$xs-width: 767px
$sm-max-width: 991px
$sm-min-width: 768px

@media (max-width: $sm-min-width)
    .ub-content
        margin-top: 0
    .ub-bg-image
        background-size: auto 100% 

    .ub-sidebar-header
        width: 100%

    .ub-logo
        margin: 0 auto

    .ub-sidebar 
        background-color: rgba($secondary-color, 0.8)

    .ub-sidebar-wrapper
        padding-left: 0

    .ub-social
        li
            a 
                padding: $space
                background-color: rgba($secondary-color, 0.8)
                border-radius: $space/2

//Galleria styling
.ub-main-galleria
    width: 100%
    height: 500px

.galleria
    width: 100%
    height: 450px
    background-color: #000

.galleria-info
    text-align: left
    position: relative
    display: block
    width: 100%
    top: auto
    left: auto
    right: auto
    bottom: 10px

.galleria-counter
    left: auto
    right: 10px
.galleria-info-text
    padding-left: 0
    padding-top: 0
    background-color: transparent

