<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urbean | urban kitchen and coffeehouse</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="css/bootstrap.css">
    <style> 
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            } 
        </style>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
    <div class="ub-back-to-top"><a href="#top">back to top</a></div>
    {{content}}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

<script src="js/vendor/bootstrap.min.js"></script>
 <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFTpQzwRIKztHa_1GwQrlRG_8D4a1DQN4&sensor=false">
    </script>
<script src="js/vendor/galleria/galleria-1.3.5.min.js"></script>
<script src="js/vendor/galleria/plugins/picasa/galleria.picasa.min.js"></script>

<script src="js/main.js"></script>
<script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
</body>
</html>